body{font-family: 'Raleway', sans-serif;
   margin: 0px;
}
h1{font-size: 50px;

}


.mymy{color: gold;
}

   .flexbox{display: flex;
      margin-bottom: 150px;}

   .half-width{ width: 50%;
      margin-left: 20px;
      padding-left: 20px;}

   .half-width img{width:80%;}

   .siuuu{color: black;
          
      background-image: linear-gradient(blue,skyblue );
          border-radius: 5px;
         padding: 5px;
          text-decoration: none;
          font-weight: 700;
          
         }
         .morter{background-image: url(images/top-banner.png);
                background-repeat: no-repeat;}
           
          .morter-2{background-image: url(images/dream-bg.png);
                    background-repeat: no-repeat;
                    background-position: right;}      

           
           .bbb{color:green ;}

           
           .color{background-image: linear-gradient(green,skyblue);
                  color: black;
                  text-decoration: none;
                  border-radius: 5px;
                  padding: 10px;
                   height: 30px;
                   width: 100px;
                  font-weight: 700;}
              
         .orange{color: red;
                 font-weight: 800;
                  text-shadow: 1px 2px 1px rgb(185, 14, 57);} 
                  
            .first{
               border: 5px solid coral;
               border-radius: 10px;
               box-shadow:5px 5px 5px coral;
               margin: 10px 10px 10px 10px;
               background-color: rgb(133, 120, 104);
                  }      
            
           .second{
                
                   border: 5px solid coral;
                   border-radius: 10px;
                   box-shadow:5px 5px 5px coral;
                   margin: 10px 10px 10px 10px;
                   background-color: antiquewhite;}   
                   
                   
             .morter-3{background-image: url(images/exp-bg.png);
                       background-repeat: no-repeat;
                       background-position: left;} 
                       
               footer p{text-align: center;}